body{
     margin: 0;
    background-color: #1B1B1B;
    color: white;
    font-family: 'Roboto', sans-serif;

}

h1{
    text-align: center;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    max-height: 52px;
  }
  
  li.menu {
    float: left;
  }

  li a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover.menu {
    background-color: #111;
  }

  footer {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 99%;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
  }

form{
    flex-direction: column;
    float: left;
    clear: left;
    width: 8%;
    text-align: left;
    margin: 5px;
}

label{
  padding-left: 3px;
}

.ecart_inscription {
  margin: 5px;
  float: left;
}

a:link { color: white; }        
a:visited { color: white; }   
a:active { color: white;}

.test{
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
}

/*-----------------classement------------------*/

ul.classement{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00000000;
  margin-left:7%;
}


p.classement{
  margin: 5px;
  display: inline-flex;  
}

li.classement {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 5px solid #3b3b3b;;
  margin: 10px;
  border-radius: 5px;
  width: 90%;  
}

li a:hover.classement {
  color: rgb(165, 165, 165);
}

/*----------------participants-----------------*/

ul.case {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00000000;
  margin-left:7%;
}


p.case{
  margin: 5px;
  display: inline-flex;  
}

li.case {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 5px solid #3b3b3b;;
  margin: 10px;
  border-radius: 5px;
  width: 200px;  
}

li a:hover.case {
  color: rgb(165, 165, 165);
}

