body{
  margin: 0;
  background-color: #1B1B1B;
  color: white;
  font-family: 'Gotham', sans-serif;
  text-decoration: none;
}

h1{
  text-align: center;
}

footer {
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 99%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

/* form{
  flex-direction: column;
  float: left;
  clear: left;
  width: 8%;
  text-align: left;
  margin: 5px;
} */

label{
  padding-left: 3px;
}

.ecart_inscription {
  margin: 5px;
  float: left;
}

a:link { color: white; }        
a:visited { color: white; }   
a:active { color: white;}

.text{
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
}

#baniere{
  backdrop-filter: blur(1000px);
}

/*-----------------navigation------------------*/

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(46, 46, 46);
  max-height: 52px;
  border-radius: 50px;
  transition: ease-in-out 0.25s;
  box-shadow: 0px 0px 20px rgb(17, 17, 17);
  width: 90%;
  margin-left: 5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;

}

li.menu {
  float: left;
}

li a.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover.menu {
  background-color: #407cff;
border-radius: 50px;
  transition: ease-in-out 0.25s;
  
}

/*-----------------classement------------------*/

ul.classement{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00000000;
  margin-left:7%;
}


p.classement{
  margin: 5px;
  display: inline-flex;  
}

li.classement {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px;
  border-radius: 50px;
  width: 90%;  
  box-shadow: 0px 0px 20px rgb(17, 17, 17);
  background-color: rgb(46, 46, 46);
}

li a:hover.classement {
  color: rgb(165, 165, 165);
}

/*----------------participants-----------------*/

ul.case {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00000000;
  margin-left:5%;
  margin-right: 5px;
  margin-top: 50px;
}

ul.case-participant {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,207px));
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00000000;
  margin-left:5%;
  margin-right: 5px;
  margin-top: 50px;
}


input.case#valider{
border-radius: 50px;
border: none;
box-shadow: 0px 0px 20px rgb(17, 17, 17);
transition: ease-in-out 0.25s;
background-color: #407cff;
margin: auto 5px;
}

input.case#refuser{
  border-radius: 50px;
  border: none;
  box-shadow: 0px 0px 20px rgb(17, 17, 17);
  transition: ease-in-out 0.25s;
  background-color: #ff4040;
  margin: auto 5px;
  }

input.case#valider:hover{
  transition:ease-in-out 0.25s;
  background-color: #3168dd;
}
input.case#refuser:hover{
  transition:ease-in-out 0.25s;
  background-color: #c93131;
}

button.modifier{
  display: block;
  position: sticky;
  top: 100%;
  margin: 10px auto;
  border: 1px solid #575757;;
  padding: 7px 5px;
  border-radius: 24px;
  color: white;
  text-align: center;
  transition: ease-in-out 0.25s;
  background-color: #407cff;
  border: 1px solid #407cff;
}

button.modifier:hover{
  transition: ease-in-out 0.25s;
  background-color: #3168dd;
  border: 1px solid #407cff;
}

form.case{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,20%);
  width: auto;
}

p.case{
  margin: 5px;
  display: inline-flex;  
}

li.case {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px;
  border-radius: 20px;
  width: 165px;  
  background-color: rgb(46, 46, 46);
  box-shadow: 0px 0px 20px rgb(17, 17, 17);
}

li a:hover.case {
  color: rgb(165, 165, 165);
}

/*-----------------login------------------*/

input.login{
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  border: 1px solid #575757;;
  padding: 7px 5px;
  border-radius: 24px;
  color: white;
  text-align: center;
}

.login input[type = "email"], .login input[type = "password"]{
  width: 70%;
  border:0;
  background: #1B1B1B;
  border: 1px solid #808080;
  padding: 14px 10px;
  border-radius: 24px;
  color: white;
  outline: none;
  transition: ease-in-out 0.25s;
}

.login input[type = "submit"]{
  transition: ease-in-out 0.25s;
  background-color: #407cff;
  border: 1px solid #407cff;

}
.login input[type = "submit"]:hover{
  transition: ease-in-out 0.25s;
  background-color: #3168dd;
  border: 1px solid #407cff;
}

.login input[type = "email"]:hover, .login input[type = "password"]:hover{
  transition: ease-in-out 0.25s;
  border: 1px solid #407cff;
}

.login input[type = "email"]:focus, .login input[type = "password"]:focus{
  border: 1px solid #407cff;
}

.login input[type = "number"]{
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

ul.login{
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #00000000;

}

form.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  border-radius: 25px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(46, 46, 46);
  margin-top: 5%;
  box-shadow: 0px 0px 20px rgb(17, 17, 17);
  background: #333;
  padding: 30px;
}



/*-----------------inscription------------------*/

form.inscription{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  border-radius: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-top: 5%;
  text-decoration: none;
  background-color: rgb(46, 46, 46);
  box-shadow: 0px 0px 20px rgb(17, 17, 17);
}

select.inscription{
  border-radius: 8px;
  display: block;
  margin: 5px auto;
  border: 1px solid #575757;;
  padding: 7px 5px;
  border-radius: 24px;
  color: rgb(166, 166, 166); 
  background-color: #1B1B1B;
}

input.inscription{
  border: 1px solid #575757;;
  padding: 7px 5px;
  border-radius: 24px;
  background-color: none;
  color: white;
  outline: none;
  background: #1B1B1B;
  margin: 5px auto;
  text-align: center;
  display: block;
}

.inscription input[type = "submit"]{
  background: none;
  transition: ease-in-out 0.25s;
  color: white;
  border-color: #407cff;
  background-color: #407cff;
}

.inscription input[type = "submit"]:hover{
  transition: ease-in-out 0.25s;
  background-color: #3168dd;
}

.inscription input#refuser[type = "submit"]{
  border-radius: 50px;
  border: none;
  box-shadow: 0px 0px 20px rgb(17, 17, 17);
  transition: ease-in-out 0.25s;
  background-color: #ff4040;
  }

.inscription input#refuser[type = "submit"]:hover{
  transition:ease-in-out 0.25s;
  background-color: #c93131;
}

.inscription select:hover{
  transition: ease-in-out 0.25s;
  border-color: #3168dd;
  
}

.inscription select:focus{
  transition: ease-in-out 0.25s;
  border-color: #3168dd;
  
}

.inscription input:hover{
  transition: ease-in-out 0.25s;
  border: 1px solid #407cff;
}

.inscription input:focus{
  border: 1px solid #407cff;
}

a.inscription{
  text-decoration: none;
  float: left;
  position: absolute;
  margin-left: -240px;
}



span.icon{
  font-size: 15px;
text-align: center;
position: relative;
  transform: translate(-0%,15%);
}

iframe{
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  color: lightblue;
  transition: ease-in-out 0.25s;

}

iframe:hover{
  transition: ease-in-out 0.25s;
  height: 648px; 
  width: 1152px;
}

/*-----------------searcch------------------*/

form.search{
  float: right;
}


input.search{
  padding: 7px 5px;
  border: none;
  color: white;
  outline: none;
  background: none;
  margin: 5px;
  width: 110px;
}

span.search{
  margin: 10px;
}

form.search{
  border-radius: 50px;
  border: 2px solid #575757;
  margin-right: 5%;
  transition: ease-in-out 0.25s;
}
form.search:hover{
  transition: ease-in-out 0.25s;
  border-color: #407cff;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
}

input[type=number] {
    -moz-appearance:textfield;
}

input.grid-btn{
  height: 50px;
  width: 50px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  outline: none;
  text-align: center;
  padding: 0px;
}
input.grid-btn#noir{
background-color: rgb(0, 0, 0);

}
div.grid-btn{
  /* position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%); */
  width: 200px;
  display : grid;
  grid-template-columns: repeat(auto-fill, minmax(0px,50px));
}

div.grid-btn2{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  width: 300px;
  display : grid;
  grid-template-columns: repeat(auto-fill, minmax(0px,50px));
}

div.grid-btn3{
  /* position: absolute;
  top: 50%;
  left: 76%;
  transform: translate(-50%,-50%); */
  width: 150px;
  display : grid;
  grid-template-columns: repeat(auto-fill, minmax(0px,50px));
}

div.feuille{
  display: inline-flex;
  gap: 25px;
  top: 50%;
}

div.text_feuille{
  display: contents;
  
}